*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e9472;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    padding-left: 30px;
    padding-right: 30px;
    width: 550px;
    height: 475px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-part-text {
    font-size: 14px;
}

.main-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for-margin{
    margin-top: -14px;
}

.main-part-title {
    color: grey;
    text-transform: uppercase;
}

.total{
    color: #616161;
}

.main-part-price {
}

.footer-part {
}

.footer-part-img {
    margin-top: -80px;
    margin-left: 40px;
}
